* {
	box-sizing: border-box;
	font-family: "sans-sarif";
	color: black;
}

body{
	margin: 10px 40px;
}

main{
	background-color: lightpink;
}

nav {
	display: flex;
	justify-content: space-between;
	font-size: 18pt;
}

a {
	text-decoration: none;
}

a:hover, a:active {
	color: red;
}

.nav-links a{
	padding: 0px 10px;
}


