* {
	box-sizing: border-box;
	font-family: Helvetica, "sans-sarif";
	color: black;
}

/* Nav bar*/

nav {
	display: flex;
	justify-content: space-between;
	font-size: 18pt;
	margin: 10px 40px;
}

a {
	text-decoration: none;
}

a:hover, a:active {
	color: red;
}

.nav-links a{
	padding: 0px 10px;
}

/* Main */

main{
	background-color: lightpink;
	margin-left: 10%;
}

header {
	display: flex;
	padding: 50px 10px 30px 50px;
}

header img {
	width: 434px;
	height: 550px;
}

h1, h2, h3 {
	font-weight: normal;
}

h1{
	padding: 30px 0px 0px 60px;
	font-size: 60pt;
}

section {
	display: flex;
}

h2 {
	font-size: 40pt;
}

p {
	font-size: 18pt;
}

/* About Me */

.about {
	background-color: grey;
	position: relative;
	left: -40px;
}

.about img {
	width: 434.47px;
	height: 434.47px;
	margin: 30px 30px 30px 30px;
}

.about-text {
	margin: 30px 30px 30px 30px;
}

/* Portfolio */

.portfolio {
	display: flex;
	flex-direction: column;
}

.portfolio img {
	width: 400px;
	height: 300px;
	margin: 0px 30px 30px 60px;
}

h3 {
	padding: 30px 0px 0px 60px;
	font-size: 30pt;
}

.portfolio p {
	margin: 156px 20px 20px 20px;
}

.portfolio-links {
	margin: 0px 0px 0px 20px;
	font-size: 18pt;
}

.portfolio-links a {
	margin-right: 20px;
}



