.about {
	background-color: #234D2E;
	position: relative;
	left: -4vw;
	color: $color-white;
	h2 {
		padding-left: 0;
	}
	img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35vw;
		height: 35vw;
		margin: 3vw;
	}
}

.about-text {
	margin: 0 3vw;
}
