main {
  background-color: $color-light-green;
  padding-top: 6vw;
  margin-left: 20%;
  width: 80%;
}

header {
  display: flex;
  padding: 4vw 1vw 3vw 5vw;
  img {
    max-width: 35vw;
  }
}

h1{
  padding: 3vw 0 0 6vw;
  font-size: 7vw;
  margin: 0;
}

section {
  display: flex;
}

h2 {
  font-size: 4vw;
  padding: 4vw 0 0 6vw;
  margin: 0;
}

p {
  font-size: 1.8vw;
}
