.portfolio {
  @include flex-Col();
  padding: 1vw 0;
  h3 {
    padding-left: 6vw;
    margin: 1vw 0;
    white-space: nowrap;
  }
  p {
    margin: 5vw 2vw 1vw 2vw;
    color: $color-black;
  }
}

.portfolio-img {
  max-width: 15vw;
  margin: 0 3vw 3vw 6vw;
}

h3 {
  font-size: 3vw;
}

h3, .portfolio-links a{
  color: $color-white;
}

.portfolio-text {
  @include flex-Col();
  justify-content: space-between;
  margin-bottom: 3vw;
}

.portfolio-links {
  text-align: right;

  a {
    margin: 0 2vw;
  }
}